.photo {
    height: 100px;
    image-rendering: pixelated;
}

.flex-container {
    display: flex;
}

.component {
    margin: 20px;
    width: 150px;
    height: 150px;
    font-size: 10px
  }

  .patient-data{
    font-size: 12px;
    margin-bottom: 8px;
    margin-top: 0px
  }

  .ward-patient {
    margin: 10px;
    padding: 10px;
    width: 200px;
    font-size: 75%;
  }

  .waiting-button {
    font-family:'Press Start 2P', cursive;
    background-color: bisque;
    border-radius: 3px;
    margin: 5px;
}
.waiting-button:hover {
    background-color: red;
    color: black;
}