.flex-specialists {
    display: flex;
    flex-flow: row wrap;
    gap: 15px;

}

.specialists-list{
    list-style: none;
    padding-left: 20px;
}

.specialty{
    font-size: 15px;
}

.specialist-photo{
    height: 75px;
    image-rendering: pixelated;
}