.Title {
    font-size: 120px;
    text-align: center;
    image-rendering: pixelated;
    margin-left: auto;
    margin-right: auto;
}

.start-game{
    background-color: red;
    color: white;
    border: black solid 5px;
    font-size: 30px;
    padding: 10px;
    image-rendering: pixelated;
    font-family:'Press Start 2P', cursive;
}

.start-game:hover{
    zoom: 110%
}

.rules-button{
    image-rendering: pixelated;
    background-color: greenyellow;
    font-size: 30px;
    padding: 10px;
    border: black solid 5px;
    font-family:'Press Start 2P', cursive;
}

.rules-button:hover{
    zoom: 110%
}

.flex-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.guy{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.instructions{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

